# ETL

1º PASO: Importación de librerías que se utilizarán en el proyecto

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from matplotlib.ticker import FormatStrFormatter
import seaborn as sns
import ast
import json

2º PASO: Carga de la base de datos y análisis de la misma

In [3]:
# Lee el archivo CSV sin realizar ninguna conversión de tipos
df_movies = pd.read_csv('movies_dataset.csv')

df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

C:\Users\luise\AppData\Local\Temp\ipykernel_17880\1338419050.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movies = pd.read_csv('movies_dataset.csv')

Con el fin de prepara el DataFrame para vincularlo con la información del archivo `credits.csv`, se ve la necesidad de adecuar el campo `id` que posee formato de objeto, y conertirlo a valores numéricos.

In [4]:
# Intenta convertir los valores de la columna 'id' a enteros
def convert_id(value):
    try:
        return int(value)
    except ValueError:
        return None

# Filtrar las filas en las que las celdas de 'id' contengan fechas o sean nulas
df_movies = df_movies[df_movies['id'].apply(lambda x: not (pd.isnull(x) or isinstance(x, pd._libs.tslibs.nattype.NaTType)))]

# Convertir el resto de las celdas de 'id' a valores numéricos
df_movies['id'] = df_movies['id'].apply(convert_id)
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45463 non-null  float64
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(5), object(19)
memory usage: 8.3+ MB

Se procede a levantar el archivo `credits.csv`, y se lo analiza.

In [5]:
df_credits = pd.read_csv('credits.csv')
df_credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

Al verificar que el campo `id` posee valores numéricos (int64) en ambos DataFrames, se procede a unirlos mediante este campo.

In [6]:
df_merged = df_credits.merge(df_movies, on='id')
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45538 entries, 0 to 45537
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   cast                   45538 non-null  object
 1   crew                   45538 non-null  object
 2   id                     45538 non-null  int64
 3   adult                  45538 non-null  object
 4   belongs_to_collection  4500 non-null   object
 5   budget                 45538 non-null  object
 6   genres                 45538 non-null  object
 7   homepage               7792 non-null   object
 8   imdb_id                45521 non-null  object
 9   original_language      45527 non-null  object
 10  original_title         45538 non-null  object
 11  overview               44584 non-null  object
 12  popularity             45535 non-null  object
 13  poster_path            45152 non-null  object
 14  production_companies   45535 non-null  object
 15  production_countries   45535 non-null  object
 16  release_date           45451 non-null  object
 17  revenue                45535 non-null  float64
 18  runtime                45278 non-null  float64
 19  spoken_languages       45535 non-null  object
 20  status                 45454 non-null  object
 21  tagline                20439 non-null  object
 22  title                  45535 non-null  object
 23  video                  45535 non-null  object
 24  vote_average           45535 non-null  float64
 25  vote_count             45535 non-null  float64
dtypes: float64(4), int64(1), object(21)
memory usage: 9.0+ MB

In [7]:
df_merged.head()

,cast,crew,id,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,tt0114709,en,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,tt0113497,en,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,tt0113228,en,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0114885,en,...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt0113041,en,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

Ahora, el DataFrame ya se encuentra en condiciones de pasar a la siguiente etapa de transformación.

3º PASO: Transformaciones
            Se realizarán principalmente el desanidado de las columnas que lo necesiten, para poder acceder más fácil a la información que contienen.
            Las columnas a las que se les aplicará esta transformación son: 'cast', 'crew', 'belongs_to_collection', 'géneros', 'production_companies', 'production_countries' y 'spoken_languages.

Para desanidar las celdas del campo `belongs_to_collection`, se empleó el módulo `ast` que permite evaluar las cadenas de texto como diccionarios, para así desanidar las columnas. Se genera una nueva columna que se denomina `franquicia`, en donde se aloja solamente el nombre (_name_) de la misma.

In [8]:
# Primero, empleo la función 'literal_eval()' del módulo 'ast' para evaluar las cadenas de texto como diccionarios y desanidar las columnas.
# Después utilizo la función 'apply(pd.Series)' para expandir las claves del diccionario en columnas separadas

df_merged['franquicia'] = df_merged['belongs_to_collection'].apply(lambda x: ast.literal_eval(x)['name'] if isinstance(x, str) and isinstance(ast.literal_eval(x), dict) else '').tolist()

df_merged

,cast,crew,id,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,franquicia
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,tt0114709,en,...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,tt0113497,en,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,tt0113228,en,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,Grumpy Old Men Collection
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0114885,en,...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt0113041,en,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Father of the Bride Collection
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45533,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,tt6209470,fa,...,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,
45534,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt2028550,tl,...,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,
45535,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,tt0303758,en,...,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,
45536,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506,False,NaN,0,[],NaN,tt0008536,en,...,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0,
45537,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257,False,NaN,0,[],NaN,tt6980792,en,...,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,

Para el caso del campo `genres` se procede de manera similar, recuperando en una nueva columna (**géneros**) el género o la lista de géneros que corresponden a cada película.

In [11]:
df_merged['géneros']=df_merged['géneros'].str.replace("'",'"')
df_merged['géneros']=df_merged['géneros'].apply(lambda x: [item['name'] for item in json.loads(x)]).tolist()

df_merged

,cast,crew,id,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,franquicia,géneros
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,tt0114709,en,...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection,"[Animation, Comedy, Family]"
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,tt0113497,en,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,,"[Adventure, Fantasy, Family]"
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,tt0113228,en,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,Grumpy Old Men Collection,"[Romance, Comedy]"
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0114885,en,...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,,"[Comedy, Drama, Romance]"
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt0113041,en,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Father of the Bride Collection,[Comedy]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45533,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,tt6209470,fa,...,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,,"[Drama, Family]"
45534,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt2028550,tl,...,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,,[Drama]
45535,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,tt0303758,en,...,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,,"[Action, Drama, Thriller]"
45536,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506,False,NaN,0,[],NaN,tt0008536,en,...,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0,,[]
45537,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257,False,NaN,0,[],NaN,tt6980792,en,...,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,,[]

Para el desanidado de las columnas `production_companies`, `production_countries`, `spoken_languages` y `cast`, se desarrolló una función que recupera el valor asignado a `name` en cada campo correspondiente. Esta información recuperada se aloja en un nuevo campo que reemplazará al original.<br>La función desanidado_columnas(x) toma como argumento una celda x de una columna del DataFrame. Su objetivo es desanidar los valores de la celda y extraer los nombres de los elementos anidados en una lista.

In [12]:
# 1º- Comprueba si el valor de la celda es nulo o un booleano. Si es así, devuelve una lista vacía.
# 2º- Si el valor de la celda es una cadena de texto, se utiliza la función ast.literal_eval() para convertir la cadena en una estructura de datos.
# 3º- Si la estructura de datos es una lista, se itera sobre los elementos de la lista y se extrae el nombre de cada elemento utilizando la clave 'name'.
# 4º- Devuelve una lista con los nombres de los elementos desanidados.
# 5º- Si ocurre una excepción de tipo SyntaxError o ValueError durante el proceso, devuelve una lista vacía.
def desanidado_columnas(x):
    try:
        if pd.isnull(x) or isinstance(x, bool):
            return []
        elif isinstance(x, str):
            data = ast.literal_eval(x)
            if isinstance(data, list):
                return [item['name'] for item in data]
            else:
                return []
        else:
            return []
    except (SyntaxError, ValueError):
        return []

df_merged['productoras'] = df_merged['production_companies'].apply(desanidado_columnas)
df_merged['países'] = df_merged['production_countries'].apply(desanidado_columnas)
df_merged['doblajes'] = df_merged['spoken_languages'].apply(desanidado_columnas)
df_merged['elenco'] = df_merged['cast'].apply(desanidado_columnas)
df_merged

,cast,crew,id,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,...,title,video,vote_average,vote_count,franquicia,géneros,productoras,países,doblajes,elenco
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,tt0114709,en,...,Toy Story,False,7.7,5415.0,Toy Story Collection,"[Animation, Comedy, Family]",[Pixar Animation Studios],[United States of America],[English],"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney..."
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,tt0113497,en,...,Jumanji,False,6.9,2413.0,,"[Adventure, Fantasy, Family]","[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],"[English, Français]","[Robin Williams, Jonathan Hyde, Kirsten Dunst,..."
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,tt0113228,en,...,Grumpier Old Men,False,6.5,92.0,Grumpy Old Men Collection,"[Romance, Comedy]","[Warner Bros., Lancaster Gate]",[United States of America],[English],"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop..."
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0114885,en,...,Waiting to Exhale,False,6.1,34.0,,"[Comedy, Drama, Romance]",[Twentieth Century Fox Film Corporation],[United States of America],[English],"[Whitney Houston, Angela Bassett, Loretta Devi..."
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt0113041,en,...,Father of the Bride Part II,False,5.7,173.0,Father of the Bride Collection,[Comedy],"[Sandollar Productions, Touchstone Pictures]",[United States of America],[English],"[Steve Martin, Diane Keaton, Martin Short, Kim..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45533,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,tt6209470,fa,...,Subdue,False,4.0,1.0,,"[Drama, Family]",[],[Iran],[فارسی],"[Leila Hatami, Kourosh Tahami, Elham Korda]"
45534,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt2028550,tl,...,Century of Birthing,False,9.0,3.0,,[Drama],[Sine Olivia],[Philippines],[],"[Angel Aquino, Perry Dizon, Hazel Orencio, Joe..."
45535,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,tt0303758,en,...,Betrayal,False,3.8,6.0,,"[Action, Drama, Thriller]",[American World Pictures],[United States of America],[English],"[Erika Eleniak, Adam Baldwin, Julie du Page, J..."
45536,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506,False,NaN,0,[],NaN,tt0008536,en,...,Satan Triumphant,False,0.0,0.0,,[],[Yermoliev],[Russia],[],"[Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa..."
45537,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257,False,NaN,0,[],NaN,tt6980792,en,...,Queerama,False,0.0,0.0,,[],[],[United Kingdom],[English],[]

Para recuperar el nombre del director, se trabaja con el campo `crew` y se recupera el nombre `name` en los casos en el que la variable `job` tiene el valor `Director`.

In [13]:
# Función para obtener el nombre del director
def get_director_name(crew):
    crew_list = ast.literal_eval(crew)
    for member in crew_list:
        if member['job'] == 'Director':
            return member['name']
    return None

# Aplicar la función a la columna 'crew'
df_merged['director'] = df_merged['crew'].apply(get_director_name)
df_merged

,cast,crew,id,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,...,video,vote_average,vote_count,franquicia,géneros,productoras,países,doblajes,elenco,director
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,tt0114709,en,...,False,7.7,5415.0,Toy Story Collection,"[Animation, Comedy, Family]",[Pixar Animation Studios],[United States of America],[English],"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",John Lasseter
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,tt0113497,en,...,False,6.9,2413.0,,"[Adventure, Fantasy, Family]","[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],"[English, Français]","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",Joe Johnston
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,tt0113228,en,...,False,6.5,92.0,Grumpy Old Men Collection,"[Romance, Comedy]","[Warner Bros., Lancaster Gate]",[United States of America],[English],"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",Howard Deutch
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0114885,en,...,False,6.1,34.0,,"[Comedy, Drama, Romance]",[Twentieth Century Fox Film Corporation],[United States of America],[English],"[Whitney Houston, Angela Bassett, Loretta Devi...",Forest Whitaker
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt0113041,en,...,False,5.7,173.0,Father of the Bride Collection,[Comedy],"[Sandollar Productions, Touchstone Pictures]",[United States of America],[English],"[Steve Martin, Diane Keaton, Martin Short, Kim...",Charles Shyer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45533,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,tt6209470,fa,...,False,4.0,1.0,,"[Drama, Family]",[],[Iran],[فارسی],"[Leila Hatami, Kourosh Tahami, Elham Korda]",Hamid Nematollah
45534,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt2028550,tl,...,False,9.0,3.0,,[Drama],[Sine Olivia],[Philippines],[],"[Angel Aquino, Perry Dizon, Hazel Orencio, Joe...",Lav Diaz
45535,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,tt0303758,en,...,False,3.8,6.0,,"[Action, Drama, Thriller]",[American World Pictures],[United States of America],[English],"[Erika Eleniak, Adam Baldwin, Julie du Page, J...",Mark L. Lester
45536,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506,False,NaN,0,[],NaN,tt0008536,en,...,False,0.0,0.0,,[],[Yermoliev],[Russia],[],"[Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa...",Yakov Protazanov
45537,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257,False,NaN,0,[],NaN,tt6980792,en,...,False,0.0,0.0,,[],[],[United Kingdom],[English],[],Daisy Asquith

Los valores nulos de los campos  revenue ,  budget deben ser rellenados por el número  0.
Para eso empleo la función fillna() con el argumento 0.

In [14]:
df_merged['revenue'] = df_merged['revenue'].fillna(0)
df_merged['budget'] = df_merged['budget'].fillna(0)
df_merged

,cast,crew,id,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,...,video,vote_average,vote_count,franquicia,géneros,productoras,países,doblajes,elenco,director
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,tt0114709,en,...,False,7.7,5415.0,Toy Story Collection,"[Animation, Comedy, Family]",[Pixar Animation Studios],[United States of America],[English],"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",John Lasseter
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,tt0113497,en,...,False,6.9,2413.0,,"[Adventure, Fantasy, Family]","[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],"[English, Français]","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",Joe Johnston
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,tt0113228,en,...,False,6.5,92.0,Grumpy Old Men Collection,"[Romance, Comedy]","[Warner Bros., Lancaster Gate]",[United States of America],[English],"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",Howard Deutch
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0114885,en,...,False,6.1,34.0,,"[Comedy, Drama, Romance]",[Twentieth Century Fox Film Corporation],[United States of America],[English],"[Whitney Houston, Angela Bassett, Loretta Devi...",Forest Whitaker
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt0113041,en,...,False,5.7,173.0,Father of the Bride Collection,[Comedy],"[Sandollar Productions, Touchstone Pictures]",[United States of America],[English],"[Steve Martin, Diane Keaton, Martin Short, Kim...",Charles Shyer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45533,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,tt6209470,fa,...,False,4.0,1.0,,"[Drama, Family]",[],[Iran],[فارسی],"[Leila Hatami, Kourosh Tahami, Elham Korda]",Hamid Nematollah
45534,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt2028550,tl,...,False,9.0,3.0,,[Drama],[Sine Olivia],[Philippines],[],"[Angel Aquino, Perry Dizon, Hazel Orencio, Joe...",Lav Diaz
45535,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,tt0303758,en,...,False,3.8,6.0,,"[Action, Drama, Thriller]",[American World Pictures],[United States of America],[English],"[Erika Eleniak, Adam Baldwin, Julie du Page, J...",Mark L. Lester
45536,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506,False,NaN,0,[],NaN,tt0008536,en,...,False,0.0,0.0,,[],[Yermoliev],[Russia],[],"[Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa...",Yakov Protazanov
45537,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257,False,NaN,0,[],NaN,tt6980792,en,...,False,0.0,0.0,,[],[],[United Kingdom],[English],[],Daisy Asquith

Luego elimino los valores nulos del campo release_date empleando dropna

In [15]:

df_merged = df_merged.dropna(subset=['release_date'])
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45451 entries, 0 to 45537
Data columns (total 33 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   cast                   45451 non-null  object
 1   crew                   45451 non-null  object
 2   id                     45451 non-null  int64
 3   adult                  45451 non-null  object
 4   belongs_to_collection  4497 non-null   object
 5   budget                 45451 non-null  object
 6   genres                 45451 non-null  object
 7   homepage               7779 non-null   object
 8   imdb_id                45437 non-null  object
 9   original_language      45440 non-null  object
 10  original_title         45451 non-null  object
 11  overview               44510 non-null  object
 12  popularity             45451 non-null  object
 13  poster_path            45112 non-null  object
 14  production_companies   45451 non-null  object
 15  production_countries   45451 non-null  object
 16  release_date           45451 non-null  object
 17  revenue                45451 non-null  float64
 18  runtime                45205 non-null  float64
 19  spoken_languages       45451 non-null  object
 20  status                 45371 non-null  object
 21  tagline                20425 non-null  object
 22  title                  45451 non-null  object
 23  video                  45451 non-null  object
 24  vote_average           45451 non-null  float64
 25  vote_count             45451 non-null  float64
 26  franquicia             45451 non-null  object
 27  géneros                45451 non-null  object
 28  productoras            45451 non-null  object
 29  países                 45451 non-null  object
 30  doblajes               45451 non-null  object
 31  elenco                 45451 non-null  object
 32  director               44616 non-null  object
dtypes: float64(4), int64(1), object(28)
memory usage: 11.8+ MB

Se realiza una adecuación de los valores fechas para poder después generar un nuevo campo con el año de estreno (release_year)

In [16]:
# Adecuación de los valores de fechas:
# Para convertir la columna 'release_date' al tipo de datos datetime, utilizo el método to_datetime de Panda
# El parámetro errors='coerce' se utiliza para convertir las celdas no válidas en valores nulos (NaT) en lugar de generar un error.
df_merged['release_date'] = pd.to_datetime(df_merged['release_date'], errors='coerce')
# Por último, esta última línea creará una nueva columna 'release_year' que contendrá el año extraído de la fecha de estreno
df_merged['release_year'] = df_merged['release_date'].dt.year

C:\Users\luise\AppData\Local\Temp\ipykernel_17880\3533225633.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merged['release_date'] = pd.to_datetime(df_merged['release_date'], errors='coerce')
C:\Users\luise\AppData\Local\Temp\ipykernel_17880\3533225633.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merged['release_year'] = df_merged['release_date'].dt.year

In [17]:
df_merged

,cast,crew,id,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,...,vote_average,vote_count,franquicia,géneros,productoras,países,doblajes,elenco,director,release_year
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,tt0114709,en,...,7.7,5415.0,Toy Story Collection,"[Animation, Comedy, Family]",[Pixar Animation Studios],[United States of America],[English],"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",John Lasseter,1995
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,tt0113497,en,...,6.9,2413.0,,"[Adventure, Fantasy, Family]","[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],"[English, Français]","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",Joe Johnston,1995
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,tt0113228,en,...,6.5,92.0,Grumpy Old Men Collection,"[Romance, Comedy]","[Warner Bros., Lancaster Gate]",[United States of America],[English],"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",Howard Deutch,1995
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0114885,en,...,6.1,34.0,,"[Comedy, Drama, Romance]",[Twentieth Century Fox Film Corporation],[United States of America],[English],"[Whitney Houston, Angela Bassett, Loretta Devi...",Forest Whitaker,1995
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt0113041,en,...,5.7,173.0,Father of the Bride Collection,[Comedy],"[Sandollar Productions, Touchstone Pictures]",[United States of America],[English],"[Steve Martin, Diane Keaton, Martin Short, Kim...",Charles Shyer,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45532,"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de...",30840,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,tt0102797,en,...,5.7,26.0,,"[Drama, Action, Romance]","[Westdeutscher Rundfunk (WDR), Working Title F...","[Canada, Germany, United Kingdom, United State...",[English],"[Patrick Bergin, Uma Thurman, David Morrissey,...",John Irvin,1991
45534,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt2028550,tl,...,9.0,3.0,,[Drama],[Sine Olivia],[Philippines],[],"[Angel Aquino, Perry Dizon, Hazel Orencio, Joe...",Lav Diaz,2011
45535,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,tt0303758,en,...,3.8,6.0,,"[Action, Drama, Thriller]",[American World Pictures],[United States of America],[English],"[Erika Eleniak, Adam Baldwin, Julie du Page, J...",Mark L. Lester,2003
45536,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506,False,NaN,0,[],NaN,tt0008536,en,...,0.0,0.0,,[],[Yermoliev],[Russia],[],"[Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa...",Yakov Protazanov,1917
45537,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257,False,NaN,0,[],NaN,tt6980792,en,...,0.0,0.0,,[],[],[United Kingdom],[English],[],Daisy Asquith,2017

Se crea la columna con el retorno de inversión, llamada 'return', con los campos 'revenue' y 'budget', dividiendo estas dos últimas (revenue / budget) <br>
Cuando no hay datos disponibles para calcularlo, deberá tomar el valor 0

In [18]:
# Convertir las columnas 'revenue' y 'budget' a formato numérico
df_merged['revenue'] = pd.to_numeric(df_merged['revenue'], errors='coerce')
df_merged['budget'] = pd.to_numeric(df_merged['budget'], errors='coerce')

# Calcular el retorno de inversión
df_merged['return'] = np.where(df_merged['budget'] == 0, np.nan, df_merged['revenue'] / df_merged['budget'])
df_merged['return'].fillna(0, inplace=True)

C:\Users\luise\AppData\Local\Temp\ipykernel_17880\2386590209.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merged['revenue'] = pd.to_numeric(df_merged['revenue'], errors='coerce')
C:\Users\luise\AppData\Local\Temp\ipykernel_17880\2386590209.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merged['budget'] = pd.to_numeric(df_merged['budget'], errors='coerce')
C:\Users\luise\AppData\Local\Temp\ipykernel_17880\2386590209.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merged['return'] = np.where(df_merged['budget'] == 0, np.nan, df_merged['revenue'] / df_merged['budget'])
C:\Users\luise\AppData\Local\Temp\ipykernel_17880\2386590209.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merged['return'].fillna(0, inplace=True)

In [19]:
df_merged

,cast,crew,id,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,...,vote_count,franquicia,géneros,productoras,países,doblajes,elenco,director,release_year,return
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,tt0114709,en,...,5415.0,Toy Story Collection,"[Animation, Comedy, Family]",[Pixar Animation Studios],[United States of America],[English],"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",John Lasseter,1995,12.451801
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,tt0113497,en,...,2413.0,,"[Adventure, Fantasy, Family]","[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],"[English, Français]","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",Joe Johnston,1995,4.043035
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,tt0113228,en,...,92.0,Grumpy Old Men Collection,"[Romance, Comedy]","[Warner Bros., Lancaster Gate]",[United States of America],[English],"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",Howard Deutch,1995,0.000000
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0114885,en,...,34.0,,"[Comedy, Drama, Romance]",[Twentieth Century Fox Film Corporation],[United States of America],[English],"[Whitney Houston, Angela Bassett, Loretta Devi...",Forest Whitaker,1995,5.090760
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt0113041,en,...,173.0,Father of the Bride Collection,[Comedy],"[Sandollar Productions, Touchstone Pictures]",[United States of America],[English],"[Steve Martin, Diane Keaton, Martin Short, Kim...",Charles Shyer,1995,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45532,"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de...",30840,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,tt0102797,en,...,26.0,,"[Drama, Action, Romance]","[Westdeutscher Rundfunk (WDR), Working Title F...","[Canada, Germany, United Kingdom, United State...",[English],"[Patrick Bergin, Uma Thurman, David Morrissey,...",John Irvin,1991,0.000000
45534,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt2028550,tl,...,3.0,,[Drama],[Sine Olivia],[Philippines],[],"[Angel Aquino, Perry Dizon, Hazel Orencio, Joe...",Lav Diaz,2011,0.000000
45535,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,tt0303758,en,...,6.0,,"[Action, Drama, Thriller]",[American World Pictures],[United States of America],[English],"[Erika Eleniak, Adam Baldwin, Julie du Page, J...",Mark L. Lester,2003,0.000000
45536,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506,False,NaN,0,[],NaN,tt0008536,en,...,0.0,,[],[Yermoliev],[Russia],[],"[Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa...",Yakov Protazanov,1917,0.000000
45537,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257,False,NaN,0,[],NaN,tt6980792,en,...,0.0,,[],[],[United Kingdom],[English],[],Daisy Asquith,2017,0.000000

Elimino las columnas que no van a ser utilizadas, y las que fueron transformadas

In [20]:
columns_to_drop = ['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage', 'belongs_to_collection', 'géneros', 'production_companies', 'production_countries', 'spoken_languages', 'cast', 'crew']
df_merged = df_merged.drop(columns=columns_to_drop)
df_merged

,id,budget,genres,original_language,overview,popularity,release_date,revenue,runtime,status,...,vote_average,vote_count,franquicia,productoras,países,doblajes,elenco,director,release_year,return
0,862,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,...,7.7,5415.0,Toy Story Collection,[Pixar Animation Studios],[United States of America],[English],"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",John Lasseter,1995,12.451801
1,8844,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,...,6.9,2413.0,,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],"[English, Français]","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",Joe Johnston,1995,4.043035
2,15602,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",en,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,0.0,101.0,Released,...,6.5,92.0,Grumpy Old Men Collection,"[Warner Bros., Lancaster Gate]",[United States of America],[English],"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",Howard Deutch,1995,0.000000
3,31357,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,127.0,Released,...,6.1,34.0,,[Twentieth Century Fox Film Corporation],[United States of America],[English],"[Whitney Houston, Angela Bassett, Loretta Devi...",Forest Whitaker,1995,5.090760
4,11862,0,"[{'id': 35, 'name': 'Comedy'}]",en,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,106.0,Released,...,5.7,173.0,Father of the Bride Collection,"[Sandollar Productions, Touchstone Pictures]",[United States of America],[English],"[Steve Martin, Diane Keaton, Martin Short, Kim...",Charles Shyer,1995,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45532,30840,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",en,"Yet another version of the classic epic, with ...",5.683753,1991-05-13,0.0,104.0,Released,...,5.7,26.0,,"[Westdeutscher Rundfunk (WDR), Working Title F...","[Canada, Germany, United Kingdom, United State...",[English],"[Patrick Bergin, Uma Thurman, David Morrissey,...",John Irvin,1991,0.000000
45534,111109,0,"[{'id': 18, 'name': 'Drama'}]",tl,An artist struggles to finish his work while a...,0.178241,2011-11-17,0.0,360.0,Released,...,9.0,3.0,,[Sine Olivia],[Philippines],[],"[Angel Aquino, Perry Dizon, Hazel Orencio, Joe...",Lav Diaz,2011,0.000000
45535,67758,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,Released,...,3.8,6.0,,[American World Pictures],[United States of America],[English],"[Erika Eleniak, Adam Baldwin, Julie du Page, J...",Mark L. Lester,2003,0.000000
45536,227506,0,[],en,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,Released,...,0.0,0.0,,[Yermoliev],[Russia],[],"[Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa...",Yakov Protazanov,1917,0.000000
45537,461257,0,[],en,50 years after decriminalisation of homosexual...,0.163015,2017-06-09,0.0,75.0,Released,...,0.0,0.0,,[],[United Kingdom],[English],[],Daisy Asquith,2017,0.000000

Para terminar, se cambia el tipo de dato del campo `popularity` a valor numérico.

In [21]:
df_merged['popularity'] = df_merged['popularity'].astype(float)

En este punto, ya estamos en condiciones de cerrar la etapa de **ETL**.<br>
Se procede a guardar el DataFrame en un archivo `.csv`

In [ ]:
# Guarda el archivo CSV sin realizar ninguna conversión de tipos
df_merged.to_csv('movies_ETL.csv', index=False)

# Desarrollo de la API

## Generación de Funciones

#### 1º Películas por Idioma <br>
Esta función filtra las películas por el idioma especificado como entrada y devuelve la cantidad de películas que se estrenaron en ese idioma especificado

In [82]:
def peliculas_idioma(Idioma: str):
    # Filtrar las películas por idioma
    peliculas_filtradas = df_merged[df_merged['original_language'] == Idioma]
    
    # Obtener la cantidad de películas filtradas
    cantidad_peliculas = len(peliculas_filtradas)
    
    # Generar el mensaje de retorno
    mensaje_retorno = f"Hay {cantidad_peliculas} película(s) que fueron estrenadas en {Idioma}"
    
    return mensaje_retorno

In [83]:
resultado = peliculas_idioma("en")
print(resultado)  # Imprime "Hay X cantidad de películas que fueron estrenadas en es"

Hay 32249 película(s) que fueron estrenadas en en

#### 2º Duración y Año de estreno <br>
Esta función filtra las películas por el nombre de película especificado como entrada y devuelve la duración de la película y el año de estreno.

In [84]:
def peliculas_duracion(Pelicula: str):
    # Filtrar las películas por nombre
    película_filtrada = df_merged[df_merged['title'] == Pelicula]
    
    # Verificar si se encontró la película
    if len(pelicula_filtrada) == 0:
        return "No se encontró la película especificada. Verifique el nombre e ingréselo nuevamente"
    
    # Obtener la duración y el año de estreno de la película
    duracion = pelicula_filtrada['runtime'].values[0]
    anio_estreno = pelicula_filtrada['release_year'].values[0]
    
    # Generar el mensaje de retorno
    mensaje_retorno = f"{Pelicula}. Duración: {duracion}. Año de estreno: {anio_estreno}"
    
    return mensaje_retorno

In [86]:
resultado = películas_duración("Star Wars")
print(resultado)  # Imprime "Toy Story. Duración: x. Año de estreno: xxxx"

Star Wars. Duración: 121.0. Año de estreno: 1977

#### 3º Franquicia <br>
Esta función filtra las películas por el nombre de franquicia especificado como entrada y devuelve: <br> - Cantidad de películas que pertenecen a la franquicia<br> - Ganancia total de la franquicia, obtenida como recaudación-inversión (revenue - budget)<br> - Ganancia promedio de la franquicia, obtenida como Ganancia total/Cantidad de películas de la franquicia

In [91]:
def franquicia(Franquicia: str):
    # Filtrar las películas por pertenecer a la franquicia especificada
    peliculas_franquicia = df_merged[df_merged['franquicia'] == Franquicia]
    
    # Verificar si se encontraron películas para la franquicia especificada
    if len(peliculas_franquicia) == 0:
        return "No se encontraron películas para la franquicia especificada."
    
    # Obtener la cantidad de películas, ganancia total y ganancia promedio
    cantidad_peliculas = len(peliculas_franquicia)
    ganancia_total = (peliculas_franquicia['revenue'] - peliculas_franquicia['budget']).sum()
    ganancia_promedio = (peliculas_franquicia['revenue'] - peliculas_franquicia['budget']).mean()
    
    # Generar el mensaje de retorno
    mensaje_retorno = f"La franquicia {Franquicia} posee {cantidad_peliculas} películas, una ganancia total de {ganancia_total}, y una ganancia promedio de {ganancia_promedio}."
    
    return mensaje_retorno

In [92]:
resultado = franquicia("James Bond Collection")
print(resultado)  # Imprime "La franquicia Toy Story Collection posee x películas, una ganancia total de x, y una ganancia promedio de xx."

La franquicia James Bond Collection posee 26 películas, una ganancia total de 5567320239.0, y una ganancia promedio de 214127701.5.

#### 4º País <br>
Esta función filtra las películas por el nombre del país especificado como entrada y devuelve la cantidad de películas que fueron producidas por ese país.

In [107]:
def peliculas_pais(Pais: str):
    # Filtrar las películas por país de producción
    películas_pais = df_merged[df_merged['países'].apply(lambda paises: Pais in paises)]
    
    # Obtener la cantidad de películas producidas en el país
    cantidad_peliculas = len(películas_pais)
    
    # Generar el mensaje de retorno
    mensaje_retorno = f"Se produjeron {cantidad_peliculas} películas en el país {Pais}."
    
    return mensaje_retorno

In [110]:
resultado = peliculas_pais("Argentina")
print(resultado)  # Imprime "Se produjeron x películas en el país United States."

Se produjeron 254 películas en el país Argentina.

#### 5º Productoras <br>
Esta función filtra las películas por el nombre de la productora especificado como entrada y devuelve:<br> - Recaudación total (revenue). <br> - Cantidad de películas que realizó

In [111]:
def productoras_exitosas(Productora: str):
    # Filtrar las películas por productora
    películas_productora = df_merged[df_merged['productoras'].apply(lambda compañías: Productora in compañías)]
    
    # Calcular la recaudación total
    recaudación_total = películas_productora['revenue'].sum()
    
    # Obtener la cantidad de películas producidas
    cantidad_peliculas = len(películas_productora)
    
    # Generar el mensaje de retorno
    mensaje_retorno = f"La productora {Productora} ha tenido una recaudación total de {recaudación_total}, con un total de {cantidad_peliculas} películas producidas."
    
    return mensaje_retorno

In [115]:
resultado = productoras_exitosas("Columbia Pictures")
print(resultado)  # Imprime "La productora Universal Pictures ha tenido una recaudación total de x, con un total de x películas producidas."

La productora Columbia Pictures ha tenido una recaudación total de 32279735705.0, con un total de 431 películas producidas.

#### 6º Director <br>
Esta función filtra las películas por el nombre del director especificado como entrada y devuelve:<br> - Recaudación total (revenue). <br> - Nombre de cada película, con la fecha de lanzamiento (release_date), recaudación individual, costo y ganacia, en formato de lista

In [122]:
def get_director(nombre_director):
    # Filtrar las películas por director
    películas_director = df_merged[df_merged['director'].notnull() & df_merged['director'].apply(lambda directores: directores is not None and nombre_director in directores)]
    
    # Calcular el retorno total del director
    retorno_total = películas_director['revenue'].sum()
    
    # Generar una lista de información detallada de cada película
    películas_info = []
    for index, row in películas_director.iterrows():
        película = {
            'nombre': row['title'],
            'fecha_lanzamiento': row['release_date'],
            'retorno': row['revenue'],
            'costo': row['budget'],
            'ganancia': row['revenue'] - row['budget']
        }
        películas_info.append(película)
    
    # Generar el mensaje de retorno
    mensaje_retorno = f"El director {nombre_director} ha logrado un retorno de {retorno_total}."
    
    return mensaje_retorno, películas_info

In [123]:
retorno, películas = get_director("Steven Spielberg")
print(retorno)      # Imprime "El director Steven Spielberg ha logrado un retorno de x."
print(películas)    # Imprime la lista de películas dirigidas por Steven Spielberg con su información detallada.

El director Steven Spielberg ha logrado un retorno de 9256621422.0.
[{'nombre': 'Jurassic Park', 'fecha_lanzamiento': Timestamp('1993-06-11 00:00:00'), 'retorno': 920100000.0, 'costo': 63000000, 'ganancia': 857100000.0}, {'nombre': "Schindler's List", 'fecha_lanzamiento': Timestamp('1993-11-29 00:00:00'), 'retorno': 321365567.0, 'costo': 22000000, 'ganancia': 299365567.0}, {'nombre': 'E.T. the Extra-Terrestrial', 'fecha_lanzamiento': Timestamp('1982-04-03 00:00:00'), 'retorno': 792965326.0, 'costo': 10500000, 'ganancia': 782465326.0}, {'nombre': 'Raiders of the Lost Ark', 'fecha_lanzamiento': Timestamp('1981-06-12 00:00:00'), 'retorno': 389925971.0, 'costo': 18000000, 'ganancia': 371925971.0}, {'nombre': 'Indiana Jones and the Last Crusade', 'fecha_lanzamiento': Timestamp('1989-05-24 00:00:00'), 'retorno': 474171806.0, 'costo': 48000000, 'ganancia': 426171806.0}, {'nombre': 'Jaws', 'fecha_lanzamiento': Timestamp('1975-06-18 00:00:00'), 'retorno': 470654000.0, 'costo': 7000000, 'ganancia': 463654000.0}, {'nombre': 'The Lost World: Jurassic Park', 'fecha_lanzamiento': Timestamp('1997-05-23 00:00:00'), 'retorno': 229074524.0, 'costo': 73000000, 'ganancia': 156074524.0}, {'nombre': 'Amistad', 'fecha_lanzamiento': Timestamp('1997-12-03 00:00:00'), 'retorno': 74000000.0, 'costo': 36000000, 'ganancia': 38000000.0}, {'nombre': 'Saving Private Ryan', 'fecha_lanzamiento': Timestamp('1998-07-24 00:00:00'), 'retorno': 481840909.0, 'costo': 70000000, 'ganancia': 411840909.0}, {'nombre': 'Indiana Jones and the Temple of Doom', 'fecha_lanzamiento': Timestamp('1984-05-23 00:00:00'), 'retorno': 333000000.0, 'costo': 28000000, 'ganancia': 305000000.0}, {'nombre': 'The Color Purple', 'fecha_lanzamiento': Timestamp('1985-12-18 00:00:00'), 'retorno': 146292009.0, 'costo': 15000000, 'ganancia': 131292009.0}, {'nombre': 'Close Encounters of the Third Kind', 'fecha_lanzamiento': Timestamp('1977-11-16 00:00:00'), 'retorno': 303788635.0, 'costo': 20000000, 'ganancia': 283788635.0}, {'nombre': 'Hook', 'fecha_lanzamiento': Timestamp('1991-12-11 00:00:00'), 'retorno': 300854823.0, 'costo': 70000000, 'ganancia': 230854823.0}, {'nombre': 'The Sugarland Express', 'fecha_lanzamiento': Timestamp('1974-04-05 00:00:00'), 'retorno': 12800000.0, 'costo': 3000000, 'ganancia': 9800000.0}, {'nombre': 'Empire of the Sun', 'fecha_lanzamiento': Timestamp('1987-12-09 00:00:00'), 'retorno': 22238696.0, 'costo': 35000000, 'ganancia': -12761304.0}, {'nombre': 'A.I. Artificial Intelligence', 'fecha_lanzamiento': Timestamp('2001-06-29 00:00:00'), 'retorno': 235926552.0, 'costo': 100000000, 'ganancia': 135926552.0}, {'nombre': 'Always', 'fecha_lanzamiento': Timestamp('1989-12-22 00:00:00'), 'retorno': 74134790.0, 'costo': 31000000, 'ganancia': 43134790.0}, {'nombre': 'Minority Report', 'fecha_lanzamiento': Timestamp('2002-06-20 00:00:00'), 'retorno': 358372926.0, 'costo': 102000000, 'ganancia': 256372926.0}, {'nombre': 'Catch Me If You Can', 'fecha_lanzamiento': Timestamp('2002-12-25 00:00:00'), 'retorno': 352114312.0, 'costo': 52000000, 'ganancia': 300114312.0}, {'nombre': '1941', 'fecha_lanzamiento': Timestamp('1979-12-13 00:00:00'), 'retorno': 31755742.0, 'costo': 35000000, 'ganancia': -3244258.0}, {'nombre': 'The Terminal', 'fecha_lanzamiento': Timestamp('2004-06-17 00:00:00'), 'retorno': 219417255.0, 'costo': 60000000, 'ganancia': 159417255.0}, {'nombre': 'Duel', 'fecha_lanzamiento': Timestamp('1972-10-01 00:00:00'), 'retorno': 0.0, 'costo': 450000, 'ganancia': -450000.0}, {'nombre': 'Twilight Zone: The Movie', 'fecha_lanzamiento': Timestamp('1983-06-24 00:00:00'), 'retorno': 29450919.0, 'costo': 10000000, 'ganancia': 19450919.0}, {'nombre': 'War of the Worlds', 'fecha_lanzamiento': Timestamp('2005-06-28 00:00:00'), 'retorno': 591739379.0, 'costo': 132000000, 'ganancia': 459739379.0}, {'nombre': 'Munich', 'fecha_lanzamiento': Timestamp('2005-12-22 00:00:00'), 'retorno': 130358911.0, 'costo': 70000000, 'ganancia': 60358911.0}, {'nombre': 'Indiana Jones and the Kingdom of the Crystal Skull', 'fecha_lanzamiento': Timestamp('2008-05-21 00:00:00'), 'retorno': 786636033.0, 'costo': 185000000, 'ganancia': 601636033.0}, {'nombre': 'The Adventures of Tintin', 'fecha_lanzamiento': Timestamp('2011-10-25 00:00:00'), 'retorno': 371940071.0, 'costo': 130000000, 'ganancia': 241940071.0}, {'nombre': 'War Horse', 'fecha_lanzamiento': Timestamp('2011-12-25 00:00:00'), 'retorno': 177584879.0, 'costo': 66000000, 'ganancia': 111584879.0}, {'nombre': 'Lincoln', 'fecha_lanzamiento': Timestamp('2012-11-09 00:00:00'), 'retorno': 275293450.0, 'costo': 65000000, 'ganancia': 210293450.0}, {'nombre': 'Night Gallery', 'fecha_lanzamiento': Timestamp('1969-04-03 00:00:00'), 'retorno': 0.0, 'costo': 0, 'ganancia': 0.0}, {'nombre': 'Bridge of Spies', 'fecha_lanzamiento': Timestamp('2015-10-15 00:00:00'), 'retorno': 165478348.0, 'costo': 40000000, 'ganancia': 125478348.0}, {'nombre': 'The BFG', 'fecha_lanzamiento': Timestamp('2016-06-01 00:00:00'), 'retorno': 183345589.0, 'costo': 140000000, 'ganancia': 43345589.0}, {'nombre': 'Something Evil', 'fecha_lanzamiento': Timestamp('1972-01-21 00:00:00'), 'retorno': 0.0, 'costo': 0, 'ganancia': 0.0}]

In [22]:
df_merged.describe()

,id,budget,popularity,release_date,revenue,runtime,vote_average,vote_count,release_year,return
count,45451.000000,4.545100e+04,45451.000000,45451,4.545100e+04,45205.000000,45451.000000,45451.000000,45451.000000,4.545100e+04
mean,107984.599745,4.231294e+06,2.926887,1992-05-16 00:18:33.955688576,1.121930e+07,94.181905,5.624085,109.989703,1991.882027,6.589542e+02
min,2.000000,0.000000e+00,0.000000,1874-12-09 00:00:00,0.000000e+00,0.000000,0.000000,0.000000,1874.000000,0.000000e+00
25%,26367.500000,0.000000e+00,0.389095,1978-10-08 00:00:00,0.000000e+00,85.000000,5.000000,3.000000,1978.000000,0.000000e+00
50%,59871.000000,0.000000e+00,1.131386,2001-09-01 00:00:00,0.000000e+00,95.000000,6.000000,10.000000,2001.000000,0.000000e+00
75%,156327.500000,0.000000e+00,3.694370,2010-12-16 00:00:00,0.000000e+00,107.000000,6.800000,34.000000,2010.000000,0.000000e+00
max,469172.000000,3.800000e+08,547.488298,2020-12-16 00:00:00,2.787965e+09,1256.000000,10.000000,14075.000000,2020.000000,1.239638e+07
std,112111.336735,1.742942e+07,6.006458,NaN,6.433984e+07,38.329504,1.915424,491.352336,24.057726,7.463165e+04

In [19]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45451 entries, 0 to 45537
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 45451 non-null  int64
 1   budget             45451 non-null  int64
 2   original_language  45440 non-null  object
 3   overview           44510 non-null  object
 4   popularity         45451 non-null  object
 5   release_date       45451 non-null  datetime64[ns]
 6   revenue            45451 non-null  float64
 7   runtime            45205 non-null  float64
 8   status             45371 non-null  object
 9   tagline            20425 non-null  object
 10  title              45451 non-null  object
 11  vote_average       45451 non-null  float64
 12  vote_count         45451 non-null  float64
 13  franquicia         45451 non-null  object
 14  géneros            45451 non-null  object
 15  productoras        45451 non-null  object
 16  países             45451 non-null  object
 17  doblajes           45451 non-null  object
 18  elenco             45451 non-null  object
 19  director           44616 non-null  object
 20  release_year       45451 non-null  int32
 21  return             45451 non-null  float64
dtypes: datetime64[ns](1), float64(5), int32(1), int64(2), object(13)
memory usage: 7.8+ MB

MODELO DE MACHINE LEARNING

In [38]:
df_movies_ETL = pd.read_csv('movies_ETL.csv')

In [58]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity



def recomendacion1(titulo):
    # Preprocesamiento de datos
    df_movies_expanded = df_movies_ETL.explode('géneros')
    df_movies_expanded['géneros'] = df_movies_expanded['géneros'].astype(str)

    # Filtrar la película de referencia
    df_ref_movie = df_movies_expanded[df_movies_expanded['title'] == titulo]
    ref_genres = set(df_ref_movie['géneros'])
    ref_franchise = df_ref_movie['franquicia'].iloc[0]

    # Calcular la puntuación de similitud
    df_movies_filtered = df_movies_expanded[df_movies_expanded['title'] != titulo]
    df_movies_filtered['similarity_score'] = (df_movies_filtered['géneros'].apply(lambda genres: len(set(genres) & ref_genres)) +
                                               (df_movies_filtered['franquicia'] == ref_franchise).astype(int))

    # Ordenar las películas según la puntuación de similitud
    df_movies_sorted = df_movies_filtered.sort_values('similarity_score', ascending=False)

    # Generar las recomendaciones
    top_recommendations = df_movies_sorted['title'].head(5).tolist()

    return top_recommendations

In [52]:
resultado = recomendacion1("Star Wars")
print(resultado)  # Imprime "La productora Universal Pictures ha tenido una recaudación total de x, con un total de x películas producidas."

['Star Wars: The Force Awakens', 'Return of the Jedi', 'Star Wars: Episode I - The Phantom Menace', 'Star Wars: Episode III - Revenge of the Sith', 'Star Wars: Episode II - Attack of the Clones']

C:\Users\PC\AppData\Local\Temp\ipykernel_4672\1741728961.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies_filtered['similarity_score'] = (df_movies_filtered['géneros'].apply(lambda genres: len(set(genres) & ref_genres)) +

In [46]:
from sklearn.neighbors import NearestNeighbors
from sklearn.preprocessing import OneHotEncoder

def recomendacion(titulo):
    # Preprocesamiento de datos
    df_movies_expanded = df_movies_ETL.explode('géneros')
    df_movies_expanded['géneros'] = df_movies_expanded['géneros'].astype(str)

    # Filtrar la película de referencia
    df_ref_movie = df_movies_expanded[df_movies_expanded['title'] == titulo]
    ref_genres = set(df_ref_movie['géneros'])
    ref_franchise = df_ref_movie['franquicia'].iloc[0]
    ref_popularity = df_ref_movie['popularity'].iloc[0]

    # Construir matriz de características
    features = df_movies_expanded[['géneros', 'franquicia', 'popularity']].values

    # Codificación one-hot para características categóricas
    enc = OneHotEncoder(sparse=False, handle_unknown='ignore')
    features_encoded = enc.fit_transform(features[:, :-1])  # Codificar todas las características excepto popularity

    # Concatenar características codificadas y popularity
    features_final = np.concatenate([features_encoded, features[:, -1].reshape(-1, 1)], axis=1)

    # Inicializar el modelo de vecinos más cercanos
    knn = NearestNeighbors(n_neighbors=6, metric='euclidean')

    # Entrenar el modelo
    knn.fit(features_final)

    # Obtener el índice de la película de referencia
    ref_movie_index = df_movies_expanded[df_movies_expanded['title'] == titulo].index[0]

    # Encontrar los vecinos más cercanos
    distances, indices = knn.kneighbors(features_final)

    # Filtrar los vecinos más cercanos que no sean la película de referencia
    nearest_neighbors = [index for index in indices[ref_movie_index] if index != ref_movie_index]

    # Obtener las películas recomendadas basadas en los vecinos más cercanos
    top_recommendations = df_movies_expanded.loc[nearest_neighbors, 'title'].tolist()

    return top_recommendations

In [49]:
resultado = recomendacion("Star Wars")
print(resultado)

c:\Users\PC\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

['Ted 2', "Schindler's List", 'Rise of the Planet of the Apes', 'Suicide Squad', 'Maze Runner: The Scorch Trials']

In [55]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

def recomendacion3(titulo):
    # Vectorización de los títulos utilizando TF-IDF
    vectorizer = TfidfVectorizer()
    tfidf_matrix = vectorizer.fit_transform(df_movies_ETL['title'].values.astype('U'))

    # Cálculo de la matriz de similitud del coseno
    cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

    # Obtención del índice de la película de referencia
    idx = df_movies_ETL[df_movies_ETL['title'] == titulo].index[0]

    # Obtención de los índices y puntajes de las películas similares
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:6]  # Obtener las 5 películas más similares (excluyendo la película de referencia)
    movie_indices = [i[0] for i in sim_scores]

    # Obtención de los títulos de las películas recomendadas
    recommended_movies = df_movies_ETL['title'].iloc[movie_indices].tolist()

    return recommended_movies

In [74]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import StandardScaler, MultiLabelBinarizer, LabelEncoder

def recomendacion4(pelicula):
    # Preprocesamiento de datos
    df_movies_expanded = df_movies_ETL.explode('géneros')
    df_movies_expanded['géneros'] = df_movies_expanded['géneros'].apply(lambda x: x.strip("[]").replace("'", "").split(", ") if isinstance(x, str) else [])

    # Filtrar las películas que no tienen género
    df_filtered = df_movies_expanded[df_movies_expanded['géneros'].apply(len) > 0]

    # Crear una matriz de características
    mlb = MultiLabelBinarizer()
    features = pd.DataFrame(mlb.fit_transform(df_filtered['géneros']), columns=mlb.classes_, index=df_filtered.index)

    # Codificar la columna "franquicia"
    label_encoder = LabelEncoder()
    features['franquicia'] = label_encoder.fit_transform(df_filtered['franquicia'])

    # Escalar la puntuación de popularidad
    scaler = StandardScaler()
    features['popularity'] = scaler.fit_transform(df_filtered['popularity'].values.reshape(-1, 1))

    # Calcular la matriz de similitud basada en el coseno
    similarity_matrix = cosine_similarity(features)

    # Obtener el índice de la película de referencia
    ref_movie_index = df_movies[df_movies['title'] == pelicula].index[0]

    # Obtener los puntajes de similitud de la película de referencia con las demás películas
    sim_scores = list(enumerate(similarity_matrix[ref_movie_index]))

    # Ordenar las películas según la similitud
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Obtener los índices de las películas similares
    sim_indices = [i[0] for i in sim_scores]

    # Obtener los nombres de las películas similares
    similar_movies = df_movies['title'].iloc[sim_indices]

    # Devolver las primeras 5 películas similares
    return similar_movies.head(5).tolist()

In [118]:
def recomendacion5(titulo):
    # Preprocesamiento de datos
    df_movies_expanded = df_movies_ETL.explode('géneros')
    df_movies_expanded['géneros'] = df_movies_expanded['géneros'].astype(str)
    df_movies_expanded['popularity'] = df_movies_expanded['popularity'].astype(float)

    # Filtrar la película de referencia
    df_ref_movie = df_movies_expanded[df_movies_expanded['title'] == titulo]
    ref_genres = set(df_ref_movie['géneros'])
    ref_franchise = df_ref_movie['franquicia'].iloc[0]

    # Calcular la puntuación de similitud
    df_movies_filtered = df_movies_expanded[df_movies_expanded['title'] != titulo]
    df_movies_filtered['similarity_score'] = (df_movies_filtered['géneros'].apply(lambda genres: len(set(genres) & ref_genres)) * 6 +
                                               (df_movies_filtered['franquicia'] == ref_franchise).astype(int) * 10 +
                                               df_movies_filtered['popularity'] * .001)

    # Ordenar las películas según la puntuación de similitud
    df_movies_sorted = df_movies_filtered.sort_values('similarity_score', ascending=False)

    # Generar las recomendaciones
    top_recommendations = df_movies_sorted['title'].head(5).tolist()

    return top_recommendations

In [135]:
import pandas as pd
import ast

# Función para obtener el nombre del director
# def get_director_name(crew):
#     crew_list = ast.literal_eval(crew)
#     for member in crew_list:
#         if member['job'] == 'Director':
#             return member['name']
#     return None

# Función para obtener los 3 primeros actores
def get_top_actors(elenco):
    if isinstance(elenco, list):
        actors = elenco[:3]
        return actors
    else:
        return []

# Función de recomendación mejorada
def recomendacion6(titulo):
    # Preprocesamiento de datos
    df_movies_expanded = df_movies_ETL.explode('géneros')
    df_movies_expanded['géneros'] = df_movies_expanded['géneros'].astype(str)
    df_movies_expanded['popularity'] = df_movies_expanded['popularity'].astype(float)

    # Filtrar la película de referencia
    df_ref_movie = df_movies_expanded[df_movies_expanded['title'] == titulo]
    ref_genres = set(df_ref_movie['géneros'])
    ref_franchise = df_ref_movie['franquicia'].iloc[0]
    ref_actors = set(df_ref_movie['elenco'].apply(get_top_actors).iloc[0])

    # Calcular la puntuación de similitud
    df_movies_filtered = df_movies_expanded[df_movies_expanded['title'] != titulo]
    df_movies_filtered['similarity_score'] = (df_movies_filtered['géneros'].apply(lambda genres: len(set(genres) & ref_genres)) * 6 +
                                               (df_movies_filtered['franquicia'] == ref_franchise).astype(int) * 8 +
                                               (df_movies_filtered['popularity'] * 0.0001) +
                                               df_movies_filtered['elenco'].apply(lambda elenco: len(set(get_top_actors(elenco)) & ref_actors)) * 120)

    # Ordenar las películas según la puntuación de similitud
    df_movies_sorted = df_movies_filtered.sort_values('similarity_score', ascending=False)

    # Generar las recomendaciones
    top_recommendations = df_movies_sorted['title'].head(5).tolist()

    return top_recommendations

# Ejemplo de uso
# resultado = recomendacion5("Harry Potter and the Chamber of Secrets")
# print(resultado)

In [174]:
from fuzzywuzzy import fuzz

# Función de recomendación mejorada
def recomendacion7(titulo):
    # Preprocesamiento de datos
    df_movies_expanded = df_movies_ETL.explode('géneros')
    df_movies_expanded['géneros'] = df_movies_expanded['géneros'].astype(str)
    df_movies_expanded['popularity'] = df_movies_expanded['popularity'].astype(float)

    # Filtrar la película de referencia
    df_ref_movie = df_movies_expanded[df_movies_expanded['title'] == titulo]
    ref_genres = set(df_ref_movie['géneros'])
    ref_franchise = df_ref_movie['franquicia'].iloc[0]
    ref_actors = set(df_ref_movie['elenco'].apply(get_top_actors).iloc[0])

    # Calcular la puntuación de similitud
    df_movies_filtered = df_movies_expanded[df_movies_expanded['title'] != titulo]
    df_movies_filtered['similarity_score'] = (df_movies_filtered['géneros'].apply(lambda genres: len(set(genres) & ref_genres)) * 15 +
                                               (df_movies_filtered['franquicia'] == ref_franchise).astype(int) * 10 +
                                               (df_movies_filtered['popularity'] * 0.0001) +
                                               df_movies_filtered['title'].apply(lambda x: fuzz.ratio(x, titulo)) * 0.01 +
                                               df_movies_filtered['elenco'].apply(lambda elenco: len(set(get_top_actors(elenco)) & ref_actors)) * 1)

    # Ordenar las películas según la puntuación de similitud
    df_movies_sorted = df_movies_filtered.sort_values('similarity_score', ascending=False)

    # Generar las recomendaciones
    top_recommendations = df_movies_sorted['title'].head(5).tolist()

    return top_recommendations

In [178]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import StandardScaler

# Preprocesamiento de datos y creación de matriz de características
df_movies_expanded = df_movies_ETL.explode('géneros')
df_movies_expanded['géneros'] = df_movies_expanded['géneros'].astype(str)

# Crear una matriz de características
features = pd.get_dummies(df_movies_expanded[['géneros', 'franquicia', 'popularity']])

# Escalar la puntuación de popularidad
scaler = StandardScaler()
features['popularity'] = scaler.fit_transform(features['popularity'].values.reshape(-1, 1))

# Calcular la matriz de similitud basada en el coseno
similarity_matrix = cosine_similarity(features)

def recomendacion_ML_Coseno(titulo):
    # Obtener el índice de la película de referencia
    ref_movie_index = df_movies[df_movies['title'] == titulo].index[0]

    # Obtener la similitud entre la película de referencia y todas las demás películas
    similarity_scores = similarity_matrix[ref_movie_index]

    # Obtener los índices de las películas más similares
    top_indices = similarity_scores.argsort()[::-1][1:6]  # Excluye la película de referencia y selecciona las 5 más similares

    # Obtener los títulos de las películas recomendadas
    top_recommendations = df_movies.loc[top_indices, 'title'].tolist()

    return top_recommendations

In [167]:
resultado = recomendacion1("High School Musical")
print(resultado)

['High School Musical 2', 'High School Musical 3: Senior Year', 'Toy Story', 'Lucky 13', 'Bomba and the Jungle Girl']

C:\Users\PC\AppData\Local\Temp\ipykernel_4672\1741728961.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies_filtered['similarity_score'] = (df_movies_filtered['géneros'].apply(lambda genres: len(set(genres) & ref_genres)) +

In [168]:
resultado = recomendacion3("High School Musical")
print(resultado)

['High School Musical 2', 'High School', 'High School', 'High School U.S.A.', 'High School Musical 3: Senior Year']

In [169]:
resultado = recomendacion4("High School Musical")
print(resultado)

['High School Musical', 'In a Dark Place', 'Eyes Without a Face', 'Crash', 'D2: The Mighty Ducks']

In [170]:
resultado = recomendacion5("High School Musical")
print(resultado)

['High School Musical 3: Senior Year', 'High School Musical 2', 'Minions', 'Wonder Woman', 'Beauty and the Beast']

C:\Users\PC\AppData\Local\Temp\ipykernel_4672\4290810025.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies_filtered['similarity_score'] = (df_movies_filtered['géneros'].apply(lambda genres: len(set(genres) & ref_genres)) * 6 +

In [175]:
resultado = recomendacion6("High School Musical")
print(resultado)

['High School Musical 3: Senior Year', 'High School Musical 2', 'Minions', 'Wonder Woman', 'Beauty and the Beast']

C:\Users\PC\AppData\Local\Temp\ipykernel_4672\1098308581.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies_filtered['similarity_score'] = (df_movies_filtered['géneros'].apply(lambda genres: len(set(genres) & ref_genres)) * 60 +

In [177]:
resultado = recomendacion7("Apollo 13")
print(resultado)

['Apollo 18', 'Cell 213', 'Killjoy 3', 'Golmaal 3', 'Almost 18']

C:\Users\PC\AppData\Local\Temp\ipykernel_4672\2373163221.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies_filtered['similarity_score'] = (df_movies_filtered['géneros'].apply(lambda genres: len(set(genres) & ref_genres)) * 15 +

In [180]:
resultado = recomendacion_ML_Coseno("Star Wars")
print(resultado)

['Voyage of the Unicorn', 'Premonition', 'Mughal-e-Azam', 'Okja', 'Beneath']